html
  head
    title= title
    link(rel="stylesheet", href="/css/style.min.css")
  body
    .content
      h1= message
      #moves.moves
        h2 Moves
        each val, index in buttons        
          button(id=val type='button' onClick='action(\'' + val +'\')')= val
        img(id='loading' class='hide' src='/img/loading.gif' width='20')
        div(id='error')
      br
      img(id='stateImage' width='300')
      script(src='/js/buttons.min.js')